<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/home.css" />
    <link rel="stylesheet" href="../styles/category.css" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link href='https://css.gg/bowl.css' rel='stylesheet'>
    <title>Home</title>

</head>

<body class="cat-body">



    <header>
        <nav class="navbar">
            <div class="navsection">
                <div class="logoback">
                    <p class="logo">Tasha's Recipes</p>
                </div>

                <ul class="navlist">
                    <a href="/" class="navitem">Home</a>
                    <a class="navitem" href="/about">About us</a>
                    <a class="navitem" href="/contact">Contact us</a>

                </ul>
            </div>

            <%- include("./partials/nav.ejs") %>

            <div class="catmenu">
                <button class="cat-btn">
                    <a>Categories</a>
                    <i class="fa fa-caret-down"></i>
                    <!-- <i class="fa fa-angle-down"></i> -->
                </button>
                <div class="categories">
                    <%  if(categs.length > 0){  %>
                    <%    categs.forEach(ctype => { %>
                    <a class="catitem"><%=ctype%></a>
                    <%   }) %>
                    <%  } %>
             </div>
            </div>

            <div class="search">
                <input class="searchfield" id="searchfield" type="text" placeholder="Search by recipe or name">
                <button class="srch" id="srch" onclick="goSearch()"> <i class="fa fa-search"></i></button>
            </div>
        </nav>
    </header>

    <div class="page">

        <!-- <div class="cats">
            <a></a>
        </div> -->


        <div class="cat-cont">
            <p class="cattext"><%=categ%></p>

            <div class="cat-recipe-grid">

                <% if(cat.length > 0){ %>
                <% cat.slice(cat.length-6, cat.length).reverse().forEach(card => { %>

                <div class="top-recipe-card">
                    <img class="card-img" src="/uploads/<%=card.recipe_img%>">
                    <div class="card-label">
                        <a href="/recipe/<%=card._id%>">
                            <p class="food"><%=card.recipe_name%></p>
                        </a>
                        <a href="/profile/<%=card.user_id%>">
                            <p class="card-chef"><%=card.full_name%></p>
                        </a>
                    </div>
                </div>

                <% }) %>
                <% } else { %>
                <p class="sorry"><%= "No recipes to display in this category yet" %> </p>
                <% } %>


            </div>

        </div>




    </div>

    <%- include("./partials/footer.ejs") %>

    <script src="../logic/category.js"></script>
    <script src="../logic/search.js"></script>

</body>

</html>