<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../home.css" />
    <link rel="stylesheet" href="../recipe.css" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <title>Recipe</title>
</head>

<body>


    <header>
        <nav class="navbar">
            <div class="navsection">
                <div class="logoback">
                    <p class="logo">Tasha's Recipes</p>
                </div>

                <ul class="navlist">
                    <a class="navitem" href="/">Home</a>
                    <a class="navitem">About us</a>
                    <a class="navitem">Contact us</a>
                </ul>
            </div>
            <div class="search">
                <input class="searchfield" type="text" placeholder="Search by recipe or name">
                <i class="fa fa-search"></i>
            </div>
        </nav>
    </header>

    <div class="page">

        <div class="recipe-title">
            <p class="rtitle"><%= rec.recipe_name %> </p>
            <div class="recipe-data">
                <a href="/profile/<%=rec._id%> ">
                    <p class="rdata"> <%= rec.full_name %> </p>
                </a>
                <p class="rdata">||</p>
                <a class="redata" id="reccat"><%=rec.category%></a>
            </div>
            <p class="rdata">Origin: <%= rec.origin %></p>
        </div>

        <div class="recipe-img" style=" background-image: url('../uploads/<%=rec.recipe_img %>')">

        </div>

        <div class="ingredients">
            <p class="ititle">Ingredients</p>
            <p class="icontent"><%= rec.ingredients %></p>
        </div>

        <div class="rec-details">
            <p class="rec-title">Recipe</p>
            <p class="rec-content"><%= rec.recipe %></p>
        </div>


        <div class="line"></div>

        <div class="review-cont">
            <div class="revnav">
                <p class="rev-title">Reviews</p>
                <a class="seeless">See less</a>
            </div>

            <div class="add-rev">
                <label for="recipe_name">Add Review</label>
                <div class="myrev">

                    <form class="myrevt" method="POST" action="/newrev/<%=rec._id%>">
                        <textarea type="text" id="user_review" name="user_review" required></textarea>

                        <div class="myrevsec">

                            <input type="text" id="user_name" name="user_name" placeholder="Full Name" required>
                            <input type="text" id="user_address" name="user_address" placeholder="Address" required>
                            <select class="rate">
                                <option value="default" selected>--Select Rating--</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                            <input type="text" class="recid" name="recipe_id" value="<%=rec._id%>">
                        </div>
                        <button class="rev-submit">Submit</button>

                    </form>
                </div>
            </div>

            <div class="allrevs">

                <% if(therevs.length > 0){ %>
                    <% therevs.forEach(rev => { %>

                <div class="rev-details">
                    <div class="rev-text">
                        <p><%=rev.user_review%></p>
                        <p><%=rev.user_name%>, <%=rev.user_address%></p>
                    </div>
                    <div class="rev-rating">
                        <i class="fa fa-star checked"></i>
                        <i class="fa fa-star checked"></i>
                        <i class="fa fa-star checked"></i>
                        <i class="fa fa-star checked"></i>
                        <i class="fa fa-star checked"></i>
                    </div>
                </div>

                <% }) %>
                <% } else { %>
                <p><%= "No reviews to display currently" %> </p>
                <% } %>


            </div>

            <a class="allrev">View All Reviews</a>
        </div>





    </div>

    <footer>
        <p class="cc">&copy 2022 KristalTasha</p>
    </footer>


    <script>
        const cattype = document.querySelectorAll('.redata');

        cattype.forEach(catt => {

            const catte = catt.innerHTML;
            const endpoint = `/category/${catte}`;

            // console.log(catte);

            catt.addEventListener("click", () => {
                fetch(endpoint, {
                    method: "GET"
                }).then(res => window.location.href = `/category/${catte}`).catch(err =>
                    console.log(err))

            })
        })
    </script>


</body>

</html>