<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/home.css" />
    <link rel="stylesheet" href="../styles/recipe.css" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <title>Recipe</title>
</head>

<body class="recbody">


    <header>
        <nav class="navbar">
            <div class="navsection">
                <div class="logoback">
                    <p class="logo">Tasha's Recipes</p>
                </div>

                <ul class="navlist">
                    <a class="navitem" href="/">Home</a>
                    <a class="navitem" href="/about">About us</a>
                    <a class="navitem" href="/contact">Contact us</a>
                    <a class="navitem">Login</a>
                    <a class="navitem">Sign Up</a>
                </ul>
            </div>
            <div class="search">
                <input class="searchfield" id="searchfield" type="text" placeholder="Search by recipe or name">
                <button class="srch" id="srch" onclick="goSearch()"> <i class="fa fa-search"></i></button>
            </div>
        </nav>
    </header>

    <div class="page">

        <div class="recipe-title">
            <p class="rtitle"><%= rec.recipe_name %> </p>
            <div class="recipe-data">
                <a class="rdata" href="/profile/<%=rec._id%> ">
                    <%= rec.full_name %>
                </a>
                <p class="rdata">|</p>
                <a class="redata" id="reccat"><%=rec.category%></a>
                <p class="rdata">|</p>
                <p class="rdata">Origin: <%= rec.origin %></p>
            </div>

        </div>

        <div class="recland">

            <div class="recipe-img" style=" background-image: url('../uploads/<%=rec.recipe_img %>')">

            </div>

            <div class="ingredients">
                <p class="ititle">Ingredients</p>

                <% let ings = rec.ingredients.split(','); %>
                <%  for(let i=0; i<ings.length-1; i++){   %>

                <p class="icontent"><%=i+1%>. <%=ings[i]%></p>
                <%  }   %>

            </div>

        </div>


        <div class="rec-details">
            <p class="rec-title">Recipe</p>

            <% let recdetail = rec.recipe.split('.'); %>
            <%  for(let i=0; i<recdetail.length-1; i++){   %>

            <p class="rec-content"><%=i+1%>. <%= recdetail[i] %></p>
            <%  }   %>
           

        </div>


        <div class="line"></div>

        <div class="review-cont">
            <div class="revnav">
                <p class="rev-title">Reviews</p>
                <a class="seeless">See less</a>
            </div>

            <div class="add-rev">
                <label for="recipe_name">Add Review</label>
                <div class="myrev">

                    <form class="myrevt" method="POST" action="/newrev/<%=rec._id%>">
                        <textarea type="text" id="user_review" name="user_review" required></textarea>

                        <div class="myrevsec">

                            <input type="text" id="user_name" name="user_name" placeholder="Full Name" required>
                            <input type="text" id="user_address" name="user_address" placeholder="Address" required>
                            <select class="rate" name="rating">
                                <option value="default" selected>--Select Rating--</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                            <input type="text" class="recid" name="recipe_id" value="<%=rec._id%>">
                            <button class="rev-submit">Submit</button>
                        </div>


                    </form>
                </div>
            </div>

            <div class="allrevs">

                <% if(therevs.length > 0){ %>
                <% therevs.reverse().forEach(rev => { %>

                <div class="rev-details">
                    <div class="rev-text">
                        <p><%=rev.user_review%></p>
                        <p><%=rev.user_name%>, <%=rev.user_address%></p>
                    </div>
                    <div class="rev-rating">
                        <% let stars = rev.rating %>
                        <% console.log(stars) %>
                        <%   for( let i=0; i<rev.rating; i++){ %>

                        <i class="fas fa-star"></i>
                        <%   } %>


                    </div>
                </div>

                <% }) %>
                <% } else { %>
                <p><%= "No reviews to display currently" %> </p>
                <% } %>


            </div>

            <!-- <a class="allrev">View All Reviews</a> -->
        </div>





    </div>

    <footer>
        <p class="cc">&copy 2022 KristalTasha</p>
    </footer>


    <script src="../logic/search.js"></script>
    <script src="../logic/recipe.js"></script>

</body>

</html>