<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/home.css" />
    <link rel="stylesheet" href="../styles/searchresults.css" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <title>Search Results</title>
</head>

<body class="srch-body">


    <header>
        <nav class="navbar">
            <div class="navsection">
                <div class="logoback">
                    <p class="logo">Tasha's Recipes</p>
                </div>

                <ul class="navlist">
                    <a class="navitem" href="/">Home</a>
                    <a class="navitem" href="/about">About us</a>
                    <a class="navitem" href="/contact">Contact us</a>
                    <a class="navitem">Login</a>
                    <a class="navitem">Sign Up</a>
                </ul>
            </div>
            <div class="search">
                <input class="searchfield" id="searchfield" type="text"
                    placeholder="Search by recipe or name">
                <button class="srch" id="srch" onclick="goSearch()"> <i class="fa fa-search"></i></button>
            </div>
        </nav>
    </header>

    <div class="page">

        <div class="searchres-cont">
            <p class="toptext">Search Results</p>

            <div class="srch-recipe-grid">
                <% if(found.length > 0){ %>
                <% found.forEach(card => { %>

                <div class="top-recipe-card">
                    <img class="card-img" src="/uploads/<%=card.recipe_img%>">
                    <div class="card-label">
                        <a href="/recipe/<%=card._id%>">
                            <p class="food"><%=card.recipe_name%></p>
                        </a>
                        <a href="/profile/<%=card._id%>">
                            <p class="card-chef"><%=card.full_name%></p>
                        </a>
                    </div>
                </div>

                <% }) %>
                <% } else { %>
                <p><%= "No results to display currently" %> </p>
                <% } %>

            </div>

        </div>

    </div>

    
    <footer>
        <p class="cc">&copy 2022 KristalTasha</p>
    </footer>

    <script src="../logic/search.js"></script>


</body>

</html>